body {
	background-color: #FFF;
	color: #555555;
	font-size: 12px;
	min-width: 960px;
}

h1, h2, h3, h4 {
	color: #FFF;
	font-weight: normal;
}

h1 {
	font-size: 22px;
}

.margin5 {
	margin: 5px;
}

.margin10 {
	margin: 10px;
}

.bold-link {
	font-weight: bold;	
}

.image30 {
	height: 30px;
	width: 30px;
}

.image50 {
	height: 50px;
	width: 50px;
}

.image80 {
	height: 80px;
	width: 80px;
}


.image200 {
	height: 200px;
	width: 200px;
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

.uppercase {
	text-transform: uppercase;
}

.block{
	display: block;
}
/*******************/
#lightbox{
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 0px;
}
#lightbox .loading{
	background: url('../img/icons/loading.gif');
	background-size: 64px 64px;
	width: 64px;
	height: 64px;
	margin: 300px auto;
}
/*******HEADER*****/
#header{
	width: 100%;
	height: 60px;
	background: url('../img/icons/bg_body.jpg');
	margin-top: 40px;
	float: left;
	border-bottom: 1px solid #FFF;
}
.top-banner{
	height: 90px;
	width: 100%;
}
.navbar-inner{
	border-radius: 0px;
}
#header .logo{
	width: 300px;
	margin: 15px;
	float: left;
	font-size: 30px;
	color: #FFF;
}
.top-links {
	width: 400px;
	height: 90px;
	float: right;	
}
.top-links .btn-group{
	float: right;
	margin: 15px 10px;
	
}
#header .nav{
	width: 800px;
	margin: 0 auto;
}
.navigator .divider-vertical{
	margin: 0px;
}
.white-text{
	color: #FFF;
}
.black-text{
	color: #000;
}
/**********CONTENT************/
#content{
	min-height: 545px;	
	width: 100%;	
	float: left;
	margin-top: -8px;		
}
/*******FOOTER********/
#footer{
	width: 100%;
	height: 120px;
	background-color: #E8E8E8;
	float: left;	
}
.footer-inner{
	width: 960px;
	margin: 20px auto;
	text-align: center;
}